/*Content*/
.btn {
  width: 140px;
  height: 28px;
  border-radius: 14px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3e3a39;
  border: 1px solid #3e3a39;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}

.artgoods_mainMenu {
  display: flex;
  justify-content: center;
}
.artgoods_container {
  position: relative;
  margin-right: 67px;
  margin-left: 67px;
  margin-top: 65px;
  margin-bottom: 75px;
  box-sizing: border-box;
}

.menubox {
  width: 1284px;
  height: 400px;
  margin-bottom: 25px;
  background-color: #f6f6f6;
  position: relative;
}

.artgoods_box {
  position: absolute;
  top: 75px;
  left: 67px;
  bottom: 0;
  margin-bottom: 60px;
}

.artgoods_box > h2 {
  font-size: 35px;
  font-weight: bold;
  color: #3e3a39;
}

.box2 {
  position: absolute;
  width: 580px;
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
  right: 67px;
}

.img1 {
  width: 280px;
  height: 280px;
}

.artgoods_subtitle {
  width: 360px;
  margin-top: 75px;
  font-size: 14px;
  color: #3e3a39;
  line-height: 1.6;
}
.moreBtn {
  margin-top: 45px;
}
