.calendar_section {
  margin: auto;
  width: 1284px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.calendar_container {
  width: 1150px;
  position: relative;
  margin: 0 67px;
  box-sizing: border-box;
}
.topMenu {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topMenu-hidden {
  display: none;
}
.topMenu-hidden ~ .inner {
  margin-top: 50px;
}
.year span {
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
}
.year_menu.active {
  font-weight: bold;
}
.search {
  border-radius: 15px;
  border: 1px solid #595757;
  width: 250px;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.search:focus {
  outline: none;
}
.searchBtn {
  top: 22px;
  right: 10px;
  border: none;
  height: 20px;
  position: absolute;
  background-color: #fff;
  cursor: pointer;
}
.searchImg {
  height: 15px;
}

.inner {
  display: grid;
  grid-template-rows: repeat(2);
  row-gap: 50px;
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(369px, 3fr));
}

.calendar_box {
  box-sizing: border-box;
  cursor: pointer;
}
.calendarImage {
  width: 369px;
  height: 440px;
}
.info {
  width: 369px;
  height: 40px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info span {
  color: #595757;
  font-size: 15px;
  padding: 10px;
}

.sliderCloseBtn {
  position: absolute;
  /* width: 34px;
  height: 34px; */
  z-index: 1;
  top: 25px;
  right: 86px;
  cursor: pointer;
  color: #3e3a39;
}

.sliderCloseBtn-hidden {
  display: none;
}

/*페이징처리*/
.pageArea {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.pagination {
  display: flex;
}
.page-item {
  margin: 0 15px;
}
.page-item a {
  color: #3e3a39;
}
.page-item a:active {
  color: #898989;
}
.fas fa-angle-double-left::before {
  content: "\f100";
}
.fas fa-angle-double-left {
  font-size: 13px;
}
