.contact_section {
  display: flex;
  justify-content: center;
}
.contact_container {
  position: relative;
  box-sizing: border-box;
}
.contact_inner {
  width: 1150px;
  margin: 65px 67px 100px;
}
.contact_inner > h1 {
  font-size: 28px;
}
.contactArea {
  margin-top: 75px;
}
.title,
.email,
.name {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.group {
  display: flex;
  letter-spacing: 2px;
  justify-content: space-between;
}
.content {
  display: flex;
  font-size: 15px;
  margin-bottom: 20px;
  justify-content: space-between;
  overflow-x: hidden;
}

.titleH2,
.cotentH2 {
  letter-spacing: 17px;
  font-weight: bold;
  font-size: 15px;
  padding-top: 2px;
}
.emainH2,
.nameH2 {
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px;
}

.titleInput {
  font-size: 15px;
  width: 1080px;
  height: 40px;
  background-color: #f6f6f6;
  padding: 20px;
  box-sizing: border-box;
}
.emailInput {
  font-size: 15px;
  width: 490px;
  height: 40px;
  background-color: #f6f6f6;
  padding: 20px;
  box-sizing: border-box;
}
.nameInput {
  font-size: 15px;
  width: 490px;
  height: 40px;
  background-color: #f6f6f6;
  padding: 20px;
  box-sizing: border-box;
}
.contentInput {
  width: 1080px;
  height: 315px;
  resize: none;
  background-color: #f6f6f6;
  padding: 20px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "윤고딕320";
}

.contentInput::-webkit-scrollbar {
  width: 15px;
  height: 290px;
  background: #fff;
  border: 3px solid #f6f6f6;
  border-radius: 30px;
  cursor: pointer;
}
.contentInput::-webkit-scrollbar-thumb {
  width: 1px;
  height: 80px;
  background-color: #d6dee1;
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
  cursor: pointer;
}

textarea::placeholder {
  font-size: 15px;
  font-family: Helvetica;
}
.titleInput,
.contentInput,
.emailInput,
.nameInput {
  outline: none;
  border: none;
}

.buttonArea {
  display: flex;
  margin: 30px 0;
  justify-content: flex-end;
}

.sendBtn {
  cursor: pointer;
  font-size: 14px;
  background-color: #e6e6e6;
  width: 136px;
  height: 39px;
  border: none;
  border-radius: 16px;
  font-weight: 500;
}

.Contactbar {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin-bottom: 50px;
}

.mapArea {
  margin-bottom: 100px;
}

@media all and (max-width: 767px) {
  .contact_section {
    width: 100%;
  }
  .contact_inner {
    width: 345px;
    margin: 30px 18px 30px;
  }
  .contact_inner > h1 {
    font-size: 15px;
    font-weight: 100;
  }
  .title,
  .email,
  .name {
    margin-bottom: 10px;
  }
  .titleInput,
  .emailInput,
  .nameInput {
    width: 285px;
    height: 25px;
    padding: 5px;
    font-size: 12px;
  }
  .contentInput {
    width: 285px;
    height: 170px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 12px;
  }
  .titleInput::placeholder,
  .emailInput::placeholder,
  .nameInput::placeholder,
  .contentInput::placeholder {
    color: transparent;
  }
  .group {
    display: block;
  }

  .contactArea {
    margin-top: 28px;
  }
  .buttonArea {
    margin: 15px 0;
  }
  .sendBtn {
    width: 70px;
    height: 26px;
    font-size: 12px;
  }

  .titleH2,
  .cotentH2 {
    font-size: 12px;
    letter-spacing: 12px;
  }
  .cotentH2 {
    margin-top: 5px;
  }
  .emainH2,
  .nameH2 {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .mapArea {
    margin: 30px 18px;
  }
  .Contactbar {
    margin-bottom: 0;
  }
}

/***************************map css************************************/
.map {
  height: 400px;
  width: 100%;
}
.wrap {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 288px;
  height: 132px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  line-height: 1.5;
}
.wrap * {
  padding: 0;
  margin: 0;
}
.wrap .map_info {
  width: 286px;
  height: 120px;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}
.wrap .map_info:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.map_info .map_title {
  padding: 5px 0 0 10px;
  height: 30px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}
.map_info .map_close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");
}
.map_info .map_close:hover {
  cursor: pointer;
}
.map_info .map_body {
  position: relative;
  overflow: hidden;
}
.map_info .desc {
  position: relative;
  margin: 13px 0 0 90px;
  height: 75px;
}
.desc .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.desc .jibun {
  font-size: 11px;
  color: #888;
  margin-top: 3px;
}
.map_info .map_img {
  position: absolute;
  display: flex;
  top: 6px;
  left: 5px;
  width: 73px;
  height: 71px;
  border: 1px solid #ddd;
  color: #888;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.map_info:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: 0;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.info1 .link {
  color: #5085bb;
}

/***************************map 반응형************************************/
@media all and (max-width: 767px) {
  .map {
    height: 200px;
    width: 100%;
  }
  .map_info .title {
    font-size: 13px;
  }
  .map_info .close {
    width: 10px;
    height: 10px;

    background-size: contain;
    background-repeat: no-repeat;
  }
}
